/* Cards */
.card-requester, .card-actions{
  border: 1px solid var(--line);
  background: var(--antiflash-white);
  box-shadow: var(--shadow);
  height: calc(100vh - 75px);
  overflow: auto;

}
.ticket-info-value {
  background-color: #eaeaea88 !important;
}

.card-new-action {
  background-color: #ffffff81;
}


.ql-toolbar.ql-snow {
  padding: .375rem .75rem;
  border-radius: var(--bs-border-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#editor {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  min-height: 10em;
  height: fit-content;
  max-height: 25em;
;
}


.card-header-support {
  background-color: #1c2541;
  color: var(--antiflash-white);
}

.card-header-requester {
  background-color: #3d74a7;
  color: var(--antiflash-white);
}

.btn-primary {
  background-color: #318fe7;
  color: var(--antiflash-white);
  border-color: #318fe7;
}

.btn-transcrever {
  background-color: var(--verdigris);
  color: var(--antiflash-white);
  border-color: var(--verdigris);
}

.btn-transcrever:hover {
  background-color: #314ce7;
  color: var(--antiflash-white);
}

.modal-content-bg {
  background-color: black !important;
}

.form-check-input {
  border-color: #5f5f5f;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='gray'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
  background-color: #318fe7 !important;
  border-color: #318fe7 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e") !important;
}
