<!-- Overlay de carregamento -->
@if(isLoadingTicket || isLoadingStatus || isLoadingPrioridades || isLoadingSubStatus || isLoadingCategorias ||
  isLoadingMotivos || isLoadingUsuario){
  <app-loading-overlay [descCarregamento]="'Carregando ticket.'"></app-loading-overlay>
}

@if(isTrancribing){
  <app-loading-overlay [descCarregamento]="'Transcrevendo áudio. Aguarde!'"></app-loading-overlay>
}

@if(isGeneratingAcao){
  <app-loading-overlay [descCarregamento]="'Gerando ação. Aguarde!'"></app-loading-overlay>
}

<div class="container-fluid">
  <div class="row g-3">
    <!-- Card Solicitante -->
    <div class="col-md-3">
      <div class="card p-3 card-requester">
        <div class="border-bottom mt-2 mb-3">
          <h2 class="fs-5 fw-bold mb-2">
            Ticket
            <span class="" id="ticket-id">
               #{{ ticket?.id }}
            </span>
          </h2>
          <h3 class="fw-bolder mb-2">
            {{ ticket?.titulo }}
          </h3>
        </div>

        <div
          class="d-flex justify-content-between align-items-center mb-4"
        >
          <p class="fw-medium">Data de Abertura:</p>
          <!--Date pipe do Angular para formatar a data -->
          <p>
            {{ ticket?.criadoEm | date:'dd/MM/yyyy HH:mm' }}
          </p>
        </div>

        @if(ticket?.dataResolucao){
          <div
            class="d-flex justify-content-between align-items-center mb-4"
          >
            <p class="fw-medium mb-1">Data de Fechamento:</p>
            <p>
              <!--Date pipe do Angular para formatar a data -->
              {{ ticket?.dataResolucao | date:'dd/MM/yyyy HH:mm' }}
            </p>
          </div>
        }

        <div class="mb-2">
          <p class="mb-1 fw-medium">Analista responsável</p>
          <input class="form-control ticket-info-value" type="text" value="{{ticket?.suporte?.nomeCompleto}}"
                 aria-label="{{ticket?.suporte?.nomeCompleto}}" disabled readonly />
        </div>

        @if (usuario?.tipoUsuario != 'SOLICITANTE'){
          <div class="mb-2">
            <p class="mb-0 fw-medium">Solicitante</p>
            <div class="form-control rounded border ticket-info-value">
              <a
                class="link-dark link-underline-opacity-25 pointer-event"
                (click)="openModal(solicitanteModal, 'xl')"
              >
                {{ ticket?.solicitante?.nomeCompleto }}
              </a>
            </div>
          </div>
        }

        <div class="mb-2">
          <label class="form-label mb-1">Motivo</label>
          <select
            id="motivo"
            class="form-select"
            name="motivo"
            [disabled]="usuario?.tipoUsuario === 'SOLICITANTE' || ticket?.status?.id !==  'ABERTO'"
            [ngClass]="{
             'ticket-info-value': usuario?.tipoUsuario === 'SOLICITANTE' || ticket?.status?.id !== 'ABERTO'
            }"
            [(ngModel)]="selectedMotivo"
            (ngModelChange)="onUpdateTicket()">
            @if(motivos?.length){
              @for (motivo of motivos; track motivo.id) {
                <option [ngValue]="motivo">
                  {{ motivo.descricao }}
                </option>
              }
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="categoria" class="form-label mb-1">Categoria</label>
          <select
            id="categoria"
            class="form-select"
            name="categoria"
            [disabled]="usuario?.tipoUsuario === 'SOLICITANTE' || ticket?.status?.id !==  'ABERTO'"
            [ngClass]="{
             'ticket-info-value': usuario?.tipoUsuario === 'SOLICITANTE' || ticket?.status?.id !== 'ABERTO'
            }"
            [(ngModel)]="selectedCategoria"
            (ngModelChange)="onUpdateTicket()">
            @if(categorias?.length){
              @for (categoria of categorias; track categoria.id) {
                <option [ngValue]="categoria">
                  {{ categoria.descricao }}
                </option>
              }
            }
          </select>
        </div>

        @if (ticket?.status?.id === 'ABERTO') {
          <div class="mb-3">
            <label for="subStatus" class="form-label mb-1">SubStatus</label>
            <select
              id="subStatus"
              class="form-select"
              name="subStatus"
              [disabled]="usuario?.tipoUsuario === 'SOLICITANTE'"
              [ngClass]="{
             'ticket-info-value': usuario?.tipoUsuario === 'SOLICITANTE'
            }"
              [(ngModel)]="selectedSubStatus"
              (ngModelChange)="onUpdateTicket()">
              @if(subStatusList?.length){
                @for (subStatus of subStatusList; track subStatus.id) {
                  <option [ngValue]="subStatus">
                    {{ subStatus.descricao }}
                  </option>
                }
              }
            </select>
          </div>
        }

        @if(usuario?.tipoUsuario !== 'SOLICITANTE'){
          <div class="mb-3">
            <label for="prioridade" class="form-label mb-1">Prioridade</label>
            <select
              id="prioridade"
              class="form-select"
              name="prioridade"
              [disabled]="ticket?.status?.id !==  'ABERTO'"
              [ngClass]="{
                'ticket-info-value': ticket?.status?.id !== 'ABERTO'
              }"
              [(ngModel)]="selectedPrioridade"
              (ngModelChange)="onUpdateTicket()">
              @if(prioridades?.length){
                @for (prioridade of prioridades; track prioridade.id) {
                  <option [ngValue]="prioridade">
                    {{ prioridade.descricao }}
                  </option>
                }
              }
            </select>
          </div>
        }
      </div>
    </div>

    <!-- Card Ações -->
    <div class="col-md-9">
      <div class="card p-3 card-actions" #cardActions>
        <!-- Mensagem de erro -->
        @if (errorMessage) {
          <div class="alert alert-danger w-100 mb-3" role="alert">
            <h4 class="mb-1 fw-bold">Erro:</h4>
            {{ errorMessage }}
          </div>
        }

        @if (ticket?.status?.id !== 'ABERTO') {
          <div class="alert alert-secondary w-100 mb-3" role="alert">
            <p  class="mb-0">Este ticket está {{ticket?.status?.descricao}} e não pode ser atualizado.</p>
          </div>
        }

        @if (ticket?.status?.id === 'ABERTO') {
          <div class="card p-3 mb-4 card-new-action">
            <div class="d-flex justify-content-between align-content-center p-0 mb-2">
              <h5 class="fs-5 fw-medium">Nova Ação</h5>

              @if (usuario?.tipoUsuario != 'SOLICITANTE'){
                <div class="form-check form-switch d-flex align-items-center justify-content-center gap-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="switchCheckDefault"
                    name="acaoInterna"
                    [(ngModel)]="acaoInterna"
                  />
                  <label class="form-check-label p-0" for="switchCheckDefault">Ação interna</label>
                </div>
              }
            </div>
            <form (ngSubmit)="onSubmit()">
              <div class="mb-3 form-group">
                <quill-editor
                  [(ngModel)]="enteredDescricao"
                  name="descricao"
                  class="form-control p-0"
                  placeholder="O que você precisa?"
                  [modules]="{
                  toolbar: [
                    ['bold', 'italic', 'underline', 'image'],
                  ]
                }"
                  theme="snow">
                </quill-editor>
              </div>

              <!-- Arquivos anexados -->
              <div class="mb-3 d-flex">
                <div>
                  <span class="form-label">Arquivos</span>
                  <div class="d-flex flex-wrap gap-2 mt-3">
                    @for (file of anexos; track file.name) {
                      <span class="badge bg-light text-dark border d-flex align-items-center gap-2">
                      <span class="material-symbols-outlined fs-5 w-100">draft</span>
                      <span>{{ file.name }}</span>
                      <button
                        type="button"
                        class="btn-close btn-delete-attachment"
                        aria-label="Remover"
                        (click)="onRemoveAnexo(file)">
                      </button>
                    </span>
                    }
                    @empty {
                      <span class="text-muted fst-italic">Nenhum arquivo anexado</span>
                    }
                  </div>
                </div>
              </div>

              <!-- Botões -->
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-2">
                  <div>
                    <label for="file-upload" class="btn btn-secondary d-flex align-items-center gap-2">
                      <span class="material-symbols-outlined">upload</span>
                      Anexar Arquivo
                    </label>
                    <input
                      id="file-upload"
                      type="file"
                      hidden
                      multiple
                      accept=".png, .jpg, .jpeg, .pdf, .mp3,  .wav, .m4a, .ogg"
                      [disabled]="isLoadingTicket"
                      (change)="onFilesSelected($event)"/>
                  </div>
                  @if (usuario?.tipoUsuario != 'SOLICITANTE'){
                    <div>
                      <label
                        for="audio-upload"
                        class="btn btn-transcrever d-flex align-i gap-2 p-2 me-3 border-0"
                      >
                        <svg
                          fill="currentColor"
                          fill-rule="evenodd"
                          height="1.3em"
                          style="flex: none; line-height: 1"
                          viewBox="0 0 24 24"
                          width="1.3em"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <title>Gemini</title>
                          <path
                            d="M20.616 10.835a14.147 14.147 0 01-4.45-3.001 14.111 14.111 0 01-3.678-6.452.503.503 0 00-.975 0 14.134 14.134 0 01-3.679 6.452 14.155 14.155 0 01-4.45 3.001c-.65.28-1.318.505-2.002.678a.502.502 0 000 .975c.684.172 1.35.397 2.002.677a14.147 14.147 0 014.45 3.001 14.112 14.112 0 013.679 6.453.502.502 0 00.975 0c.172-.685.397-1.351.677-2.003a14.145 14.145 0 013.001-4.45 14.113 14.113 0 016.453-3.678.503.503 0 000-.975 13.245 13.245 0 01-2.003-.678z"
                          ></path>
                        </svg>
                        Transcrever Audio
                      </label>
                      <input
                        id="audio-upload"
                        type="file"
                        hidden
                        accept=".mp3, .wav, .m4a, .ogg"
                        [disabled]="isLoadingTicket || isTrancribing"
                        (change)="onSelectAudioFileToTranscribe($event)"/>
                    </div>
                  }
                </div>
                <div class="d-flex flex-row align-items-center gap-2">
                  <div>
                    @if(usuario?.tipoUsuario !== 'SOLICITANTE'){
                      <select
                        id="status"
                        class="form-select"
                        name="status"
                        [(ngModel)]="selectedStatus">
                        @if(statusList?.length){
                          @for (status of statusList; track status.id) {
                            <option [ngValue]="status">
                              {{ status.descricao }}
                            </option>
                          }
                        }
                      </select>
                    }
                  </div>
                  <div>
                    <button
                      class="btn btn-primary p-2 "
                      type="submit"
                      [disabled]="isLoadingTicket">
                      Adicionar Ação
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        }

        @for (acao of ticket?.acoes; track acao.numAcao) {
          <app-acao
            [acao]="acao"
            [tipoUsuario]="usuario?.tipoUsuario"
            (generateEmail)="onGenerateAcao($event)"></app-acao>
        }
      </div>
    </div>
  </div>

  <!-- Solicitante Modal Template -->
<!--  https://ng-bootstrap.github.io/#/components/modal/examples-->
  <ng-template #solicitanteModal let-modal>
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="requesterInfosModalLabel">
        Informações do Solicitante
      </h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <div class="mb-4">
        <h5 class="fs-5 mb-2 fw-medium">Empresa</h5>
        <div class="row mb-2">
          <div class="col-md-3">
            <label  class="mb-1" for="cnpjEmpresa">CNPJ</label>
            <input
              name="cnpjEmpresa"
              class="form-control ticket-info-value"
              type="text"
              [value]="ticket?.solicitante?.empresa?.cnpj"
              disabled
              readonly
            />
          </div>
          <div class="col">
            <label  class="mb-1" for="razaoSocial">Razão Social</label>
            <input
              name="razaoSocial"
              class="form-control ticket-info-value"
              type="text"
              [value]="ticket?.solicitante?.empresa?.razaoSocial"
              disabled
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label  class="mb-1" for="emailInstitucional">E-mail</label>
            <input
              name="emailInstitucional"
              class="form-control ticket-info-value"
              type="text"
              [value]="ticket?.solicitante?.empresa?.email"
              disabled
              readonly
            />
          </div>
          <div class="col mb-2">
            <label  class="mb-1" for="telefoneEmpresa">Telefone</label>
            <input
              name="telefoneEmpresa"
              class="form-control ticket-info-value"
              type="tel"
              [value]="ticket?.solicitante?.empresa?.telefone"
              disabled
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label  class="mb-1" for="observacoes">Observações</label>
            <textarea
              class="form-control ticket-info-value mh"
              disabled
              [value]="ticket?.solicitante?.empresa?.observacoes">
            </textarea>
          </div>
        </div>
      </div>
      <div>
        <h5  class="fs-5 mb-2 fw-medium">Solicitante</h5>
        <div class="row mb-2">
          <div class="col">
            <label  class="mb-1" for="nomeSolicitante">Nome</label>
            <input
              name="nomeSolicitante"
              class="form-control ticket-info-value"
              type="text"
              [value]="ticket?.solicitante?.nomeCompleto"
              disabled
              readonly
            />
          </div>
          <div class="col-md-3">
            <label  class="mb-1" for="cargoSolicitante">Cargo</label>
            <input
              name="cargoSolicitante"
              class="form-control ticket-info-value"
              type="text"
              [value]="ticket?.solicitante?.cargo"
              disabled
              readonly
            />
          </div>
          <div class="col-md-3">
            <label  class="mb-1" for="setorSolicitante">Setor</label>
            <input
              name="setorSolicitante"
              class="form-control ticket-info-value"
              type="text"
              [value]="ticket?.solicitante?.setor"
              disabled
              readonly
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <label  class="mb-1" for="emailSolicitante">E-mail</label>
            <input
              name="emailSolicitante"
              class="form-control ticket-info-value"
              type="text"
              [value]="ticket?.solicitante?.email"
              disabled
              readonly
            />
          </div>
          <div class="col-md-3">
            <label  class="mb-1" for="telefoneSolicitante">Telefone</label>
            <input
              name="telefoneSolicitante"
              class="form-control ticket-info-value"
              type="tel"
              [value]="ticket?.solicitante?.telefone"
              disabled
              readonly
            />
          </div>
          <div class="col-md-3">
            <label  class="mb-1" for="celularSolicitante">Celular</label>
            <input
              name="celularSolicitante"
              class="form-control ticket-info-value"
              type="tel"
              [value]="ticket?.solicitante?.celular"
              disabled
              readonly
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label  class="mb-1" for="observacoes">Observações</label>
            <textarea
              class="form-control ticket-info-value mh"
              disabled
              [value]="ticket?.solicitante?.observacoes">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
