<!-- Overlay de carregamento -->
@if(isLoading){
  <app-loading-overlay></app-loading-overlay>
}

<div class="container-fluid">
  <div class="row g-3">
    <!-- Card Solicitante -->
    <div class="col-md-3">
      <div class="card p-3 card-requester">
        <div class="border-bottom mt-2 mb-3">
          <h2 class="fs-5 fw-bold mb-2">
            Ticket
            <span class="" id="ticket-id">
               #{{ ticket?.id }}
            </span>
          </h2>
          <h3 class="fw-bolder mb-2">
            {{ ticket?.titulo }}
          </h3>
        </div>

        <div
          class="d-flex justify-content-between align-items-center mb-4"
        >
          <p class="fw-medium">Data de Abertura:</p>
          <!--Date pipe do Angular para formatar a data -->
          <p>
            {{ ticket?.criadoEm | date:'dd/MM/yyyy HH:mm' }}
          </p>
        </div>

        @if(ticket?.dataResolucao){
          <div
            class="d-flex justify-content-between align-items-center mb-4"
          >
            <p class="fw-medium mb-1">Data de Fechamento:</p>
            <p>
              <!--Date pipe do Angular para formatar a data -->
              {{ ticket?.dataResolucao | date:'dd/MM/yyyy HH:mm' }}
            </p>
          </div>
        }

        <div class="mb-2">
          <p class="mb-1 fw-medium">Analista responsável</p>
          <input class="form-control ticket-info-value" type="text" value="{{ticket?.suporte?.nomeCompleto}}"
                 aria-label="{{ticket?.suporte?.nomeCompleto}}" disabled readonly />
        </div>

        <div class="mb-2">
          <label class="form-label fw-normal mb-1 fw-medium">Motivo</label>
          <select
            class="form-control ticket-info-value"
            disabled
            readonly
            name="motivo"
            >
            <option>{{ ticket?.motivo?.descricao }}</option>
          </select>
        </div>

        <div class="mb-2">
          <label class="form-label fw-normal mb-1 fw-medium">Categoria</label>
          <select
            class="form-control ticket-info-value"
            disabled
            readonly
            name="categoria">
            <option>{{ ticket?.categoria?.descricao }}</option>
          </select>
        </div>


        <div class="mb-2">
          <p class="mb-1 fw-medium">Sub-Status</p>
          <input class="form-control ticket-info-value" type="text" value="Aguardando meu retorno"
                 aria-label="Resolvido" disabled readonly />
        </div>
      </div>
    </div>


    <div class="col-md-9">
      <div class="card p-3 card-actions">
        <!-- Mensagem de erro -->
        @if (errorMessage) {
          <div class="alert alert-danger w-100 mb-3" role="alert">
            <h4 class="mb-1 fw-bold">Erro:</h4>
            {{ errorMessage }}
          </div>
        }
        <div class="card p-3 mb-4 card-new-action">
          <div
            class="d-flex justify-content-between align-items-center mb-1"
          >
            <h5 class="fs-5 fw-medium">Nova Ação</h5>
          </div>

          <form (ngSubmit)="onSubmit()">
            <div class="mb-3 form-group">
              <quill-editor
                [(ngModel)]="enteredDescricao"
                name="descricao"
                class="form-control p-0"
                placeholder="O que você precisa?"
                [modules]="{
                  toolbar: [
                    ['bold', 'italic', 'underline', 'image'],
                  ]
                }"
                theme="snow">
              </quill-editor>
            </div>

            <!-- Arquivos anexados -->
            <div class="mb-3 d-flex">
              <div>
                <span class="form-label">Arquivos</span>
                <div class="d-flex flex-wrap gap-2 mt-3">
                  @for (file of anexos; track file.name) {
                    <span class="badge bg-light text-dark border d-flex align-items-center gap-2">
                      <span class="material-symbols-outlined fs-5 w-100">draft</span>
                      <span>{{ file.name }}</span>
                      <button
                        type="button"
                        class="btn-close btn-delete-attachment"
                        aria-label="Remover"
                        (click)="onRemoveAnexo(file)">
                      </button>
                    </span>
                  }
                  @empty {
                    <span class="text-muted fst-italic">Nenhum arquivo anexado</span>
                  }
                </div>
              </div>
            </div>

            <!-- Botões -->
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <label for="file-upload" class="btn btn-secondary d-flex align-items-center gap-2">
                  <span class="material-symbols-outlined">upload</span>
                  Anexar Arquivo
                </label>
                <input
                  id="file-upload"
                  type="file"
                  hidden
                  multiple
                  accept=".png, .jpg, .jpeg, .pdf, .mp3"
                  [disabled]="isLoading"
                  (change)="onFilesSelected($event)"/>

              </div>
              <div class="d-flex flex-row align-items-center gap-3">
                <button
                  class="btn btn-primary p-2 border-0 m-0 ms-auto"
                  type="submit"
                  [disabled]="isLoading">
                  Adicionar Ação
                </button>
              </div>
            </div>
          </form>
        </div>
        @for (acao of ticket?.acoes; track acao.numAcao) {
          <app-acao [acao]="acao"></app-acao>
        }
      </div>
    </div>
  </div>
</div>
