<!--<nav class="navbar shadow-sm sticky-top">-->
<!--  <div class="container-fluid justify-content-start">-->
<!--    <button-->
<!--      class="btn d-flex align-items-center gap-2"-->
<!--      type="button"-->
<!--      data-bs-toggle="offcanvas"-->
<!--      data-bs-target="#sidebarMenu"-->
<!--      aria-controls="sidebarMenu"-->
<!--    >-->
<!--      <span class="material-symbols-outlined menu-icon">menu</span>-->
<!--      <span class="fw-bold logo fs-4">Deskium</span>-->
<!--    </button>-->

<!--    <ul class="nav nav-pills" id="pills-tab" role="tablist">-->
<!--      <li class="nav-item" role="presentation">-->
<!--        <button-->
<!--          class="nav-link active"-->
<!--          id="pills-tickets-abertos-tab"-->
<!--          data-bs-toggle="pill"-->
<!--          data-bs-target="#pills-tickets-abertos"-->
<!--          type="button"-->
<!--          role="tab"-->
<!--          aria-controls="pills-tickets-abertos"-->
<!--          aria-selected="true"-->
<!--        >-->
<!--          Novo ticket-->
<!--        </button>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<nav class="navbar shadow-sm sticky-top">
  <div class="container-fluid justify-content-start">
    <button
      class="btn d-flex align-items-center gap-2"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
    >
      <span class="material-symbols-outlined menu-icon">menu</span>
      <span class="fw-bold logo fs-4">Deskium</span>
    </button>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs border-0 gap-2">

      @for (tab of tabs; track tab.id) {
        <li [ngbNavItem]="tab.id" class="nav-item border-0 border-ra">
          <button ngbNavLink class="nav-link">
            {{ tab.title }}
            @if (tab.closable){
              <span class="btn-close btn-close-white ms-3 fw-light" (click)="close($event, tab.id)"></span>
            }
          </button>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="tab.content"></ng-container>
          </ng-template>
        </li>
      }
    </ul>
  </div>

</nav>
<div [ngbNavOutlet]="nav" class="mt-2"></div>


