.card-table {
  background-color: var(--antiflash-white)
}

.card-tickets-list {
  min-height: calc(100vh - 75px);
  border: 1px solid var(--line);
  background: var(--antiflash-white);
  box-shadow: var(--shadow);
}

.btn-primary {
  background-color: #318fe7;
  color: var(--antiflash-white);
}

.nav-link-sub-status {
  color: var(--verdigris) !important;
  padding: 0.7rem;
}

.nav-link-sub-status.active {
  background-color: var(--antiflash-white) !important;
  color: var(--oxford-blue) !important;
}



