.card-table {
  background-color: var(--antiflash-white)
}

.card-tickets-list {
  min-height: calc(100vh - 75px);
  border: 1px solid var(--line);
  background: var(--antiflash-white);
  box-shadow: var(--shadow);
}

