/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --platinium: #EAEAEA;
  --antiflash-white: #f4f6f8;
  --oxford-blue: #0B132B;
  --space-cadet: #1C2541;
  --true-blue: #4F6D92;
  --verdigris: #3d74a7;
  --black: #333333;
  --line: #dddee0;
  --muted: #6b7280;
  --shadow: 0 4px 18px rgba(2, 8, 23, 0.06);
  --card-border-radius: 10px;

}

.ql-toolbar.ql-snow {
  padding: .375rem .75rem;
  border-radius: var(--bs-border-radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ql-container.ql-snow {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  min-height: 10em;
  max-height: 25em;
  overflow: auto;
}

* {
  box-sizing: border-box
}

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  background: var(--platinium);
  color: var(--black);
  font-family: "Inter", sans-serif;
}

button {
  border: none;
}

input,
select {
  background-color: rgba(255, 255, 255, 0.527) !important;
}

@media (min-width: 1441px) {

  html,
  body {
    font-size: 16px;
  }

  .card {
    height: calc(100vh - 150px);
  }
}

@media (min-width: 2560px) {

  html,
  body {
    font-size: 22px;
  }
}
