<div class="table-responsive">
  <table class="table align-middle">
    <thead>
    <tr>
      <th scope="col" class="fw-medium">Ticket</th>
      <th scope="col" class="fw-medium">Título</th>
      @if (tipoUsuario == 'SOLICITANTE' || isAllTickets){
        <th scope="col" class="fw-medium">
          Responsável
        </th>
      }
      @if(tipoUsuario == 'SUPORTE' || tipoUsuario == 'GESTOR_SUPORTE' || isAllTickets) {
        <th scope="col" class="fw-medium">
          Solicitante
        </th>
      }
      <th scope="col" class="fw-medium">Motivo</th>
      <th scope="col" class="fw-medium">Categoria</th>
      @if (tipoUsuario == 'SUPORTE' || tipoUsuario == 'GESTOR_SUPORTE'){
        <th scope="col" class="fw-medium">Prioridade</th>
      }
      <th scope="col" class="fw-medium">Data de Abertura</th>
      <th scope="col" class="fw-medium">
        @if(statusId != 'ABERTO'){
          Data de Fechamento

        }@else if (tipoUsuario == 'SUPORTE'|| tipoUsuario == 'GESTOR_SUPORTE') {
          Previsão de Solução
        }
      </th>
    </tr>
    </thead>
    <tbody>
      @for (ticket of tickets; track ticket.id) {
        <tr class="border-bottom">
          <td >
            <a
              class="link-primary"
              routerLink="../{{ticket.id}}"
              routerLinkActive>
              #{{ ticket.id }}
            </a>
          </td>
          <td class="text-truncate" style="max-width: 15em;" title="{{ticket.titulo}}">{{ ticket.titulo }}</td>

          @if (tipoUsuario == 'SOLICITANTE' || isAllTickets){
            <td class="text-truncate" style="max-width: 10em;">
              {{ ticket.suporte.nomeCompleto }}
            </td>
          }
          @if(tipoUsuario == 'SUPORTE' || tipoUsuario == 'GESTOR_SUPORTE' || isAllTickets) {
            <td class="text-truncate" style="max-width: 10em;">
                {{ ticket.solicitante.nomeCompleto }}
            </td>
          }

          <td class="text-truncate" style="max-width: 10em;">
            @if (tipoUsuario == 'SOLICITANTE'){
              {{ ticket.suporte.nomeCompleto }}

            }@else {
              {{ ticket.solicitante.nomeCompleto }}
            }
          </td>
          <td>{{ ticket.motivo.descricao }}</td>
          <td>{{ ticket.categoria?.descricao }}</td>
          @if(tipoUsuario == 'SUPORTE'|| tipoUsuario == 'GESTOR_SUPORTE'){
            <td>
              <span
                class="badge text-dark"
                [style]="'background-color: ' + ticket.prioridade?.corHex +' !important;'"
              >
                {{ ticket.prioridade?.descricao }}
              </span>
            </td>
          }
          <!--Date pipe para formatar a data -->
          <td >{{ ticket.criadoEm | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>
            @if(statusId != 'ABERTO'){
              {{ ticket.dataResolucao | date:'dd/MM/yyyy HH:mm' }}

            } @else if (tipoUsuario == 'SUPORTE'|| tipoUsuario == 'GESTOR_SUPORTE') {
              {{ ticket.previsaoResolucao | date:'dd/MM/yyyy HH:mm' }}
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
