<nav class="navbar shadow-sm sticky-top">
  <div class="container-fluid justify-content-start">
    <button
      class="btn d-flex align-items-center gap-2"
      type="button"
      (click)="openSidebar(sidebar)"
    >
      <span class="material-symbols-outlined menu-icon">menu</span>
      <span class="fw-bold logo fs-4">Deskium</span>
    </button>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs border-0 gap-2">

      @for (tab of tabs; track tab.id) {
        <li [ngbNavItem]="tab.id" class="nav-item border-0 border-ra">
          <button ngbNavLink class="nav-link">
            {{ tab.title }}
            @if (tab.closable){
              <span class="btn-close btn-close-white ms-3 fw-light" (click)="closeTab($event, tab.id)"></span>
            }
          </button>
          <ng-template ngbNavContent>
            <ng-container *ngTemplateOutlet="tab.content"></ng-container>
          </ng-template>
        </li>
      }
    </ul>
  </div>

</nav>
<div [ngbNavOutlet]="nav" class="mt-2"></div>

<ng-template #sidebar let-offcanvas>
  <div class="offcanvas-header">
    <span class="logo mt-3">Deskium</span>
    <button type="button" class="btn-close" (click)="offcanvas.dismiss()"></button>
  </div>

  <div class="offcanvas-body p-3 d-flex flex-column w-100">
    <nav class="nav d-flex flex-column gap-3 flex-grow-1">
      <a
        routerLink="new"
        routerLinkActive="active"
        class="btn d-flex align-items-center gap-2"
        (click)="offcanvas.close()"
      >
        <span class="material-symbols-outlined">add_box</span>
        <span>Novo Ticket</span>
      </a>
<!--      <button>-->
<!--        <span class="material-symbols-outlined">add_box</span>-->
<!--        <span>Novo Ticket</span>-->
<!--      </button>-->
      <a
        routerLink="opened"
        routerLinkActive="active"
        class="btn d-flex align-items-center gap-2"
        (click)="offcanvas.close()"
      >
        <span class="material-symbols-outlined">confirmation_number</span>
        <span>Tickets Abertos</span>
      </a>
      <a
        routerLink="/tickets/closed"
        routerLinkActive="active"
        class="btn d-flex align-items-center gap-2"
        (click)="offcanvas.close()"
      >
        <span class="material-symbols-outlined">select_check_box</span>
        <span>Tickets Fechados</span>
      </a>
      <a
        routerLink="/login"
        class="btn mt-auto d-flex align-items-center gap-2"
        (click)="offcanvas.close(); onLogout()"
      >
        <span class="material-symbols-outlined">logout</span>
        <span>Sair</span>
      </a>
    </nav>
  </div>
</ng-template>
